apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: egovboot01
  name: egovboot01-svc
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: egovboot01
status:
  loadBalancer: {}